# Deployment via ledger
MNEMONIC_INDEX=
LEDGER_SENDER=

# Test rpc_endpoints
RPC_MAINNET=https://eth.llamarpc.com
RPC_MONAD=https://rpc.monad.xyz

# Etherscan api keys for verification & download utils
ETHERSCAN_API_KEY_MAINNET=