# build and cache
cache/
out/

# general
.env
.env.bk
.assets

# artifacts
reports/
diffs/
downloads/

# editors
.idea
.vscode
lcov*

yarn.lock
bun.lockb
node_modules

# ignore foundry deploy artifacts
broadcast/

.DS_Store

# certora
.certora*
.certora*.json
**.last_conf*
certora-logs
certora_debug_log.txt
resource_errors.json

# invariants
_corpus/
crytic-export/