[profile.default]
src = 'src'
test = 'tests'
script = 'scripts'
optimizer = true
optimizer_runs = 200
solc = '0.8.22'
evm_version = 'shanghai'
bytecode_hash = 'none'
ignored_warnings_from = [
  "src/contracts/treasury/RevenueSplitter.sol",
  "src/contracts/dependencies/openzeppelin/ReentrancyGuard.sol",
]
out = 'out'
libs = ['lib']
remappings = []
fs_permissions = [
  { access = "write", path = "./reports" },
  { access = "read", path = "./out" },
  { access = "read", path = "./config" },
]
ffi = true

[fuzz]
runs = 1000
max_test_rejects = 20000

[profile.linea]
evm_version = 'london'

[rpc_endpoints]
mainnet = "${RPC_MAINNET}"
optimism = "${RPC_OPTIMISM}"
avalanche = "${RPC_AVALANCHE}"
polygon = "${RPC_POLYGON}"
arbitrum = "${RPC_ARBITRUM}"
fantom = "${RPC_FANTOM}"
scroll = "${RPC_SCROLL}"
celo = "${RPC_CELO}"
bnb = "${RPC_BNB}"
gnosis = "${RPC_GNOSIS}"
base = "${RPC_BASE}"
metis = "${RPC_METIS}"
linea = "${RPC_LINEA}"
sepolia = "${RPC_SEPOLIA}"

[etherscan]
mainnet = { key = "${ETHERSCAN_API_KEY}", chainId = 1 }
optimism = { key = "${ETHERSCAN_API_KEY}", chainId = 10 }
avalanche = { key = "${ETHERSCAN_API_KEY}", chainId = 43114 }
polygon = { key = "${ETHERSCAN_API_KEY}", chainId = 137 }
arbitrum = { key = "${ETHERSCAN_API_KEY}", chainId = 42161 }
fantom = { key = "${ETHERSCAN_API_KEY}", chainId = 250 }
scroll = { key = "${ETHERSCAN_API_KEY}", chainId = 534352 }
celo = { key = "${ETHERSCAN_API_KEY}", chainId = 42220 }
bnb = { key = "${ETHERSCAN_API_KEY}", chainId = 56 }
gnosis = { key = "${ETHERSCAN_API_KEY}", chainId = 100 }
base = { key = "${ETHERSCAN_API_KEY}", chain = 8453 }
metis = { key = "", chainId = 1088, url = 'https://api.routescan.io/v2/network/mainnet/evm/1088/etherscan/api' }
linea = { key = "${ETHERSCAN_API_KEY}", chainId = 59144 }
sepolia = { key = "${ETHERSCAN_API_KEY}", chainId = 11155111 }
